html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    text-align: center;
    background-image: url('../img/bg1.png');
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    color: #99FF00;
    /*background-color: grey;*/
    padding: 0rem;
}

h1.sitename {
    overflow: visible;
    width: 160vw;
    font-size: 10vw;
	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
	background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
	color:transparent;
	-webkit-background-clip: text;
	background-clip: text;
	display: inline-block;
}

h3.instruct {
	color: aqua;
    font-size: 4vw;
}

.screenname {
    font-size: 9vw;
	color: white;
}

.emaildomain {
    font-size: 4vw;
    padding: 10px 0px 20px 0px;
    word-break: break-word;
    color: white;
}

.serif {
  font-family: "Times New Roman", Times, serif;
}

.uiwrap {
    display: inline-grid;
    margin: 0vh 0vh 5vh 0vh;
    max-width: 640px;
}

.categorywrapper {
    width: auto;
    box-sizing: border-box;
    color: rgb(5, 6, 8);
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
}

.category:after {
    height: 43px;
    border-left: 2px solid rgb(136, 140, 143);
    border-right: 2px solid rgb(255, 255, 255);
    margin: 0px;
    position: absolute;
    right: 0;

}

.category.first {
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: rgb(5, 6, 8);
}

/*.category.last {

}*/

.category.last:after {
    height: auto;
    border: 0;
}

.category {
    border-top-style: solid;
    border-top-width: 2px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    background-color: rgb(206, 208, 207);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px 0px, rgb(223, 224, 227) 1px 1px 0px 1px inset, rgb(136, 140, 143) -1px -1px 0px 1px inset;
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(5, 6, 8);
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 43px;
    width: auto;
    white-space: nowrap;
    text-align: left;
    line-height: 43px;
    color: rgb(5, 6, 8);
    padding: .3rem 7px 0.3rem 0;
    flex-grow: 1;
    margin-right: 1%;
    margin-bottom: 1%;
    flex-basis: 32%;   
}

.category:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 128);
}

.category:nth-child(3n-6) {
    margin-right: 0;
}

.button {
    box-sizing: border-box;
    background-color: rgb(206, 208, 207);
    color: rgb(5, 6, 8);
    border-left-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(5, 6, 8);
    border-bottom-color: rgb(5, 6, 8);
    box-shadow: rgb(223, 224, 227) 1px 1px 0px 1px inset, rgb(136, 140, 143) -1px -1px 0px 1px inset;
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 35px;
    width: 100%;
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    padding: 0px 0.5rem;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-bottom: 1%;

}

.button:active {
    border-left-color: rgb(5, 6, 8);
    border-top-color: rgb(5, 6, 8);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    box-shadow: rgb(136, 140, 143) 1px 1px 0px 1px inset, rgb(223, 224, 227) -1px -1px 0px 1px inset;
    border-style: solid;
    border-width: 2px;
}

#generateButton {
    height: 52px;
    margin-bottom: 17px;
}

.checklabel {
    padding-left: calc(20px + 0.5rem);
    cursor: pointer;
    user-select: none;
    font-size: 16px;
}

.checklabel p {
    margin: 0 0 0 4px;
}

.checkinput {
    position: absolute;
    opacity: 0;
    z-index: -99;
}

.checkstyle {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 10px inset;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    border-left-color: rgb(136, 140, 143);
    border-top-color: rgb(136, 140, 143);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    padding: 2px;
    border-style: solid;
    border-width: 2px;
    margin-left: 7px;
}

/* On mouse-over, add a grey background color */
.checklabel:hover input ~ .checkstyle {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checklabel input:checked ~ .checkstyle {
  
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkstyle:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checklabel input:checked ~ .checkstyle:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: calc(50% - 1px);
    width: 3px;
    height: 7px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-style: solid;
    border-color: rgb(5, 6, 8);
    border-image: initial;
    border-width: 0px 3px 3px 0px;
}



.checkstyle:before {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    content: "";
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-left-color: rgb(5, 6, 8);
    border-top-color: rgb(5, 6, 8);
    border-right-color: rgb(223, 224, 227);
    border-bottom-color: rgb(223, 224, 227);
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 10px inset;
    border-style: solid;
    border-width: 2px;
}

.checkstyle:after {

}

/* BLINK!!!! */

blink {
    -webkit-animation: 2s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
    animation: 2s linear infinite condemned_blink_effect;
}

/* for Safari 4.0 - 8.0 */
@-webkit-keyframes condemned_blink_effect { 
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

/* Marquee!!!! */

.marquee {
     /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);    
    transform:translateX(100%);
    /* Apply animation to this element */  
    -moz-animation: marquee_fill 10s linear infinite;
    -webkit-animation: marquee_fill 10s linear infinite;
    animation: marquee_fill 10s linear infinite;
}

@-moz-keyframes marquee_fill {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes marquee_fill {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}

@keyframes marquee_fill {
    0%   { 
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%);       
    }
    100% { 
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%); 
    }
}
